*{
    margin: 0;
    padding: 0;
}
.sec-1{
    padding-left: 400px;
    padding-right: 400px;
    background-color: #1f2937;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

h1{
    font-size: 24px;
    color: #F9FAF8;
}

ul{
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
}

.car{
    width: 449px;
    height: 230px;
}

.sec-1-hero{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

section{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 84px;
    padding-bottom: 110px;
}

.hero-txt{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.text{
    font-size: 18px;
    color: #E5E7EB;
}

.button{
    background-color: #3882F6;
    border-radius: 10px;
    padding: 10px 50px;
    margin-right: 307px;
    margin-top: 9px;
    color: #E5E7EB;
}

.sec-2-p{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    padding-top: 40px;
}

/*.sec-squ-1{
    background-color: blue;
}

.sec-squ-2{
    background-color: aqua;
}

.sec-squ-3{
    background-color: darkblue;
}

.sec-squ-4{
    background-color: antiquewhite;  
}
*/

.sec-2{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.filler{
    padding-top: 5px;
}

.sec-squ{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border:3px solid #3882F6;
}

.info{
    max-width: 250px;
}

.sec-3{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #E5E7EB;
}

i{
    font-size: 36px;
    color: #1F2937;
}

blockquote p{
    max-width: 800px;
    text-align: center;
    padding-left: 600px;
}

figcaption{
    padding-left: 1200px;
    padding-top: 30px;
}

.sec-4{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call{
    background-color: #3882F6;
    padding: 50px 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.sign-up{
    border: black solid 3px;
    border-radius: 10px;
    padding: 10px 50px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    height: 50px;
}